body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  border-bottom: thin solid;
  padding: 0 0.5em;
}

td {
  padding: 0 0.5em;
  text-align: center;
}